body {
    background-color: #f2f7fa;
}

a:hover{
    text-decoration: none;
}

.navbar {
    background-color: #191a28;
    padding: 30px 5%;
}
.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}
.hero {
    background-color: #191a28;
    color: #ffffff;
    text-align: center;
    padding: 300px;
}
.hero h1 {
    font-size: 3rem;
}

.hero2 {
    background-color: #191a28;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.hero2 h1 {
    font-size: 3rem;
}

.section-title {
    text-align: center;
    margin: 2rem 0 5rem 0 ;
}
.info-icons .col-md-3 {
    text-align: center;
    padding: 20px;
}
.info-icons i {
    font-size: 2rem;
    color: #fff;
}

.info-icons .info-icons-circle{
    background-color: #191a28;
    border-radius: 50%;
    margin: 20px auto;
    color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.card{
    height: 100%;
    transition: 0.5s all ease;
}

.card:hover{
    transform: translate(-5px,-5px);
}

.challenge-card img {
    width: 100%;
    height: auto;
}

.card-body{
    color: #191a28;
    margin-bottom: 20px;
}

.card:hover .card-body{
    text-decoration: none;
}

.card-body p:last-child{
    position: absolute;
    bottom: 20px;
}

.my-ct{
    margin: 5rem 0;
}

.my-ct2{
    margin: 4rem 0;
}

.btn-primary{
    background-color: #191a28;
}

.btn-primary:hover{
    border: 1px solid #191a28;
    background-color: #fff;
    color: #191a28;
}

.bg-white-ct{
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}

footer {
    background-color: #191a28;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #ffffff;
}


.contact_form{
    width: 100%;
  }
  
.contact_form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
}

.contact_form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
}