@font-face {
    font-family: "Titulos-Bold";
  
    src: url("/assets/fonts/titulo/Sora-Bold.ttf");
}

@font-face {
    font-family: "Titulos-Semibold";
  
    src: url("/assets/fonts/titulo/Sora-SemiBold.ttf");
}

@font-face {
    font-family: "Titulos-Regular";
  
    src: url("/assets/fonts/titulo/Sora-Regular.ttf");
}

@font-face {
    font-family: "Cuerpos-Bold";
  
    src: url("/assets/fonts/texto/EuclidCircularA-Bold.ttf");
}

@font-face {
    font-family: "Cuerpos-Semibold";
  
    src: url("/assets/fonts/texto/EuclidCircularA-SemiBold.ttf");
}

@font-face {
    font-family: "Cuerpos-Regular";
  
    src: url("/assets/fonts/texto/EuclidCircularA-Regular.ttf");
} 

h1, h2, h3, h4, h5, h6{
    font-family: 'Titulos-Bold', sans-serif;
    color: #123e61;
}

a, p, span{
    font-family: 'Cuerpos-Regular', sans-serif;
}

body {
    background-color: #f2f7fa;
}

a:hover{
    text-decoration: none;
}

.navbar {
    background-color: #033250;
    padding: 30px 5%;
}
.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}
.hero {
    background-color: #033250;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.hero h1 {
    font-size: 3rem;
}

.hero2 {
    background-color: #033250;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.hero2 h1 {
    font-size: 3rem;
}


@media only screen and (max-width: 900px) {
    .hero {
        padding: 10% 5%;
    }

    .hero2 {
        padding: 10% 5%;
    }
    
}

.section-title {
    text-align: center;
    margin: 2rem 0 5rem 0 ;
}
.info-icons .col-md-3 {
    text-align: center;
    padding: 20px;
}
.info-icons i {
    font-size: 2rem;
    color: #fff;
}

.info-icons .info-icons-circle{
    background-color: #033250;
    border-radius: 50%;
    margin: 20px auto;
    color: #fff;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.card{
    height: 100%;
    transition: 0.5s all ease;
}

.card:hover{
    transform: translate(-5px,-5px);
}

.challenge-card img {
    width: 100%;
    height: auto;
}

.card-body{
    padding: 50px;
    color: #033250;
    margin-bottom: 20px;
}

.card:hover .card-body{
    text-decoration: none;
}

.card-body p:last-child{
    position: absolute;
    bottom: 35px;
    color: #39A4DC;
}

.my-ct{
    margin: 5rem 0;
}

.my-ct2{
    margin: 4rem 0;
}

.mt-ct{
    margin-top: 6rem!important;
}

.py-ct{
    padding: 5rem 0;
}

.py-ct2{
    padding: 4rem 0;
}

.pt-ct{
    padding-top: 6rem!important;
}

.d-flex-ct{
    display: flex;
}

@media only screen and (max-width: 900px) {
    .my-ct {
        margin: 2rem 0;
    }

    .my-ct2 {
        margin: 1rem 0;
    }

    .py-ct {
        padding: 2rem 0;
    }

    .py-ct2 {
        padding: 1rem 0;
    }

    .d-flex-ct{
        display: block;
    }
}

.btn-primary{
    background-color: #033250;
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    transition:all ease 0.5s;
    border-color: #fff;
}

.btn-primary:hover{
    background-color: #A3D0E8;
    color: #212529;
    border-color: #A3D0E8;
}

.btn-primary-light{
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    color: #212529;
    transition:all ease 0.5s;
}

.btn-primary-light:hover{
    background-color: #a3d1e9;
    color: #212529;
}

.bg-white-ct{
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}

.bg-blue-ct{
    background-color: #39A4DC;
    border-radius: 10px;
    padding: 2rem;
}

.contact_form{
    width: 100%;
  }
  
.contact_form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
}

.contact_form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid #ccc;
}

footer {
    background-color: #033250;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #ffffff;
}

.redes-footer a img{
    width: 70px;
    height: auto;
}

/*page loading*/
.preloader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}
  
.preloader img.jump {
    max-height: 100px;
    max-width: 100px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 90%!important;
    }
}

.img-explicativo{
    width: 150px;
    height: auto;
    margin: auto;
    margin: 20px 0;
}

.img-explicativo2{
    width: 250px;
    height: auto;
    margin: auto;
    margin: 20px 0;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ic-desafio{
    margin-bottom: 20px;
    margin-right: 15px;
}