---
permalink: "404.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Desafíos Ciudadanos: Innovación y Soluciones Colaborativa | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<!-- features-area-start -->
    <div class="my-ct" >
        <div class="container">
            <div class="row">
                
                <div class="col-xl-10 col-lg-10 mx-auto" style="text-align: center;">
                    <img class="mx-auto" src="/assets/img/404-02.png">
                    <h1 class="text-titles">Oops!</h1>
                    <br>
                    <p style="color: #010001!important;">La página que buscas no se encuentra disponible. <br> Revisa el URL o vuelve a la pagina de inicio.</p>
                    <a class="btn btn-primary" href="/index.html">Regresar al Inicio</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
	
{% endblock %}