<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Stylesheets
	============================================= -->
	<!-- / -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">

    <!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img src="/assets/img/loader.gif" style="width:50%;height:auto;margin:auto" alt="" />
				</div>
			</div>
		</div>
	</div>

	<!-- Topbar -->
    <div class="topbar">
        <div class="container-fluid px-5">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <p class="topbar-text mb-0">Sitio oficial de la Asociación Civil Red Ciudadana</p>
                </div>
                <div class="col-md-4 col-12 text-right">
                    <div class="topbar-social">
                        <a href="https://www.facebook.com/Redciudadanagt" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://twitter.com/redxguate" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="https://www.instagram.com/redxguate/" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.tiktok.com/@redxguate" target="_blank" rel="noopener"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/index.html"><img src="/assets/img/home/DC-02.png" style="width: 200px; height: auto;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/metodologia/index.html">Metodología</a></li>
                <li class="nav-item"><a class="nav-link" href="/desafios/index.html">Desafíos</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto/index.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
		
    {% block content %}

    {% endblock %} 
	
    <!-- footer-area-start -->
    <footer class="p-0">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="footer-column">
                            <img class="logo_footer" src="/assets/img/footer_2025/WEB_PI-67.png" alt="Red Ciudadana Logo">
                            <p class="text_footer">
                                En Red Ciudadana trabajamos para fortalecer la transparencia,
                                promover la participación ciudadana y construir un futuro más
                                justo e inclusivo para todos los guatemaltecos.
                            </p>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/Redciudadanagt" target="_blank" rel="noopener"><img class="red_footer" src="/assets/img/footer_2025/WEB_PI-62.png" alt="Facebook"></a>
                                <a href="https://twitter.com/redxguate" target="_blank" rel="noopener"><img class="red_footer" src="/assets/img/footer_2025/WEB_PI-63.png" alt="Twitter"></a>
                                <a href="https://www.instagram.com/redxguate/" target="_blank" rel="noopener"><img class="red_footer" src="/assets/img/footer_2025/WEB_PI-64.png" alt="Instagram"></a>
                                <a href="https://www.linkedin.com/company/red-ciudadana" target="_blank" rel="noopener"><img class="red_footer" src="/assets/img/footer_2025/WEB_PI-65.png" alt="LinkedIn"></a>
                                <a href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg" target="_blank" rel="noopener"><img class="red_footer" src="/assets/img/footer_2025/WEB_PI-66.png" alt="YouTube"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                        <div class="footer-column">
                            <h4 class="footer-title">Enlaces Rápidos</h4>
                            <div class="footer-links">
                                <a href="/index.html">Inicio</a>
                                <a href="/metodologia/index.html">Metodología</a>
                                <a href="/desafios/index.html">Desafíos</a>
                                <a href="/contacto/index.html">Contacto</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-4 mb-lg-0">
                        <div class="footer-column">
                            <h4 class="footer-title">Información de Contacto</h4>
                            <div class="footer-contact">
                                <div class="contact-item">
                                    <h5 class="contact-label">Dirección</h5>
                                    <p class="text_footer">Zona 10, Ciudad de Guatemala, Guatemala</p>
                                </div>
                                <div class="contact-item">
                                    <h5 class="contact-label">Correo Electrónico</h5>
                                    <p class="text_footer">info@redciudadana.org.gt</p>
                                </div>
                                <div class="contact-item">
                                    <h5 class="contact-label">Horario de Atención</h5>
                                    <p class="text_footer">Lunes a Viernes, 8:00am - 5:00pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="text_footer_2">Asociación Civil Red Ciudadana 2025</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area-end -->

    {% block body_javascripts %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Preloader -->
    <script>
		(function ($) {
			("use strict");
			// Page loading
			$(window).on("load", function () {
				$("#preloader-active").delay(450).fadeOut("slow");
				$("body").delay(450).css({
					overflow: "visible"
				});
			});
		
		})(jQuery);
	</script>

	</body>
</html>
