<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Stylesheets
	============================================= -->
	<!-- / -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">

    <!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img src="/assets/img/loader.gif" style="width:50%;height:auto;margin:auto" alt="" />
				</div>
			</div>
		</div>
	</div>

	<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#"><img src="/assets/img/slider/slider.png" style="width: 200px; height: auto;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/metodologia/index.html">Metodología</a></li>
                <li class="nav-item"><a class="nav-link" href="/desafios/index.html">Desafíos</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto/index.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
		
    {% block content %}

    {% endblock %} 
	
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row my-ct2" style="justify-content:space-between">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="footer-wrapper mb-30">
                        <div class="footer-logo">
                            <a target="_blank" href="https://redciudadana.org/"><img src="/assets/img/footer/logo_red_blanco.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
                    <div class="d-flex align-items-center justify-content-end redes-footer">
                        <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img src="/assets/img/footer/fb-footer.png"></a>
                        <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img src="/assets/img/footer/x-footer.png"></a>
                        <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img src="/assets/img/footer/ig-footer.png"></a>
                        <a target="_blank" style="margin:0 3px" href="https://www.tiktok.com/@redxguate"><img src="/assets/img/footer/tk-footer.png"></a>
                    </div>
                </div>
            </div>
            <div class="row mt-40 mb-40">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <img class="w-100" src="/assets/img/footer/linea_blanca.png">
                </div>
            </div>
            <div class="row my-ct2">
                <div class="col-xl-12">
                    <div class="copyright text-center">
                        <a target="_blank" href="https://redciudadana.org/"><p style="color:#fff!important"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block body_javascripts %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
      if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
          if (!user) {
              window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
              });
          }
          });
      }
    </script>
    
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Preloader -->
    <script>
		(function ($) {
			("use strict");
			// Page loading
			$(window).on("load", function () {
				$("#preloader-active").delay(450).fadeOut("slow");
				$("body").delay(450).css({
					overflow: "visible"
				});
			});
		
		})(jQuery);
	</script>

	</body>
</html>
