---
permalink: "desafios/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Desafíos Ciudadanos: Innovación y Soluciones Colaborativa | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<!-- Hero Section -->
    <div class="hero">
		<div class="row py-ct">
            <div class="col-lg-12">
        		<img src="/assets/img/iconos/DC-14.png">
				<h1 class="text-white">Desafíos</h1>	
			</div>
		</div>
	</div>

    <!-- Latest Challenges Section -->
    <div style="background-color: #e3e6ed;">
        <div class="container" >
			<div class="row py-ct justify-content-center">
				<div class="col-lg-12 col-sm-11">
					<h3 class="section-title">Últimos Retos Creados</h3>
				</div>
				{% for desafio in collections.desafios %}
				<div class="col-md-4 col-sm-6 my-3">
					<div class="card challenge-card {% if desafio.data.status == 'finished' %}finished-challenge{% endif %}">
						{% if desafio.data.status == 'finished' %}
						<div class="finished-badge">
							<i class="fa-solid fa-check-circle"></i>
							<span>DESAFÍO FINALIZADO</span>
						</div>
						{% endif %}
						<a href="{{desafio.url}}">
						<img src="{{desafio.data.image}}" class="card-img-top" alt="Reto 1">
						<div class="card-body">
							<h5 class="card-title">{{desafio.data.title}}</h5>
							<p class="card-text">{{desafio.data.description | rmj | safe}}</p>
							<p class="card-text">
								<b>Fecha Límite: {{desafio.data.date | dateFormat('DD/MM/YYYY')}}</b>
							</p>
						</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
    </div>

{% endblock %}

{% block body_javascripts %}
	
{% endblock %}