---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Desafíos Ciudadanos: Innovación y Soluciones Colaborativa | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<!-- Hero Section -->
    <div class="hero">
        <div class="row">
            <div class="col-lg-12">
                <img style="width: 50%; margin: auto;" src="/assets/img/home/DC-01.png">
                <div class="d-flex flex-wrap my-5 justify-content-center">
                    <a href="/desafios/index.html" class="btn-primary-light mx-2 mx-md-4 my-2">Participa Ahora</a>
                    <a href="/metodologia/index.html" class="btn-primary-light mx-2 mx-md-4 my-2">Metodología</a>
                </div>
                <img style="width: 50%; margin: auto;" src="/assets/img/home/DC-03.png">
            </div>
        </div>
    </div>

    <!-- Info Section -->
    <div class="container">
        <div class="row mt-ct section-title">
            <div class="col-md-6 mb-4 mb-md-0">
                <img class="img-explicativo" src="/assets/img/iconos/DC-07.png">
                <h3 class="mb-4">¿Qué es un Desafío Ciudadano?</h3>
                <p>Un <b>Desafío Ciudadano</b> es una convocatoria en línea abierta a toda la comunidad para proponer e implementar soluciones innovadoras a problemas sociales críticos, como la migración, la salud y la educación. Estos desafíos buscan aprovechar el talento y la creatividad de ciudadanos, tecnólogos, activistas y expertos en diversas áreas para generar un impacto real en las comunidades.				</p>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
                <img class="img-explicativo" src="/assets/img/iconos/DC-08.png">
                <h3 class="mb-4">¿Quién puede participar?</h3>
                <p>Ingenieros, Tecnólogos, Ciudadanos comprometidos, Científicos, Diseñadores, Activistas y cualquiera que tenga una idea de solución y las habilidades para implementarla.</p>
            </div>
        </div>
    </div>

    <!-- How It Works Section -->
    <div class="container info-icons">
        <div class="row my-4">
            <div class="col-md-3">
				<img class="img-explicativo2" src="/assets/img/iconos/DC-09.png">
                <h5>Convocatoria</h5>
            </div>
            <div class="col-md-3">
				<img class="img-explicativo2" src="/assets/img/iconos/DC-10.png">
                <h5>Propuesta de Soluciones</h5>
            </div>
            <div class="col-md-3">
				<img class="img-explicativo2" src="/assets/img/iconos/DC-11.png">
                <h5>Prototipado</h5>      
            </div>
            <div class="col-md-3">
				<img class="img-explicativo2" src="/assets/img/iconos/DC-12.png">
                <h5>Selección de Ganadores</h5>            
            </div>
        </div>
    </div>

    <!-- Latest Challenges Section -->
    <div style="background-color: #e3e6ed;">
        <div class="container" >
            <div class="row mt-ct py-ct justify-content-center">
                <div class="col-lg-12 col-sm-11">
                    <h3 class="section-title">Últimos Retos Creados</h3>
                </div>
                {% for desafio in collections.desafios %}
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card challenge-card">
                        <a href="{{desafio.url}}">
                        <img src="{{desafio.data.image}}" class="card-img-top" alt="Reto 1">
                        <div class="card-body">
                            <h5 class="card-title">{{desafio.data.title}}</h5>
                            <p class="card-text">{{desafio.data.description | rmj | safe}}</p>
                            <p class="card-text">
                                <b>Fecha Límite: {{desafio.data.date | dateFormat('DD/MM/YYYY')}}</b>
                            </p>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-12 col-sm-11">
                    <div class="text-center mt-4">
                        <a href="/desafios/index.html" class="btn btn-primary-light">Ver todos los Retos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
	
{% endblock %}