---
permalink: "metodologia/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Desafíos Ciudadanos: Innovación y Soluciones Colaborativa | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<!-- Hero Section -->
    <div class="hero">
		<div class="row py-ct">
            <div class="col-lg-12">
        		<img src="/assets/img/iconos/DC-13.png">
				<h1>Metodología</h1>	
			</div>
		</div>
	</div>

    <!-- Metodologia Section -->
    <div style="background-color: #e3e6ed;">
        <div class="container py-ct2" >
            <div class="row bg-white-ct">
                <div class="col-lg-12">
                    <p>
                        Los <b>Desafíos Ciudadanos</b> siguen un proceso estructurado para asegurar que las mejores ideas lleguen a implementarse con éxito. Aquí te explicamos cómo funciona:
                    </p>
                    <ol>
                        <li><b>Convocatoria Abierta:</b> Se lanza una convocatoria dirigida a la comunidad de innovadores, activistas, académicos y cualquier persona interesada en proponer soluciones.</li>
                        <li><b>Propuesta de Soluciones:</b> Los participantes presentan sus ideas y proyectos a través de nuestra plataforma en línea.</li>
                        <li><b>Prototipado:</b> Las mejores propuestas pasan a la fase de desarrollo de prototipos con apoyo técnico y mentoría especializada.</li>
                        <li><b>Evaluación y Selección:</b> Un jurado de expertos evalúa los prototipos y selecciona las soluciones más viables.</li>
                        <li><b>Implementación:</b> Los proyectos ganadores reciben capital semilla y apoyo continuo para implementar su solución en la realidad.</li>
                    </ol>
                </div>
            </div>

            <div class="row mt-ct bg-blue-ct">
                <div class="col-lg-6">
                    <div class="centered">
                        <h3 class="text-white">¿Tienes una idea?</h3>
                        <a href="/desafios/index.html" class="btn btn-primary">Participa ahora.</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img style="width: 70%; margin: auto;" src="/assets/img/banners/DC-16.png">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}
	
{% endblock %}